.hamburger {
  position: relative;
}

.sidebar-menu {
  position: fixed;
  right: -80%;
}

.sidebar-menu.active {
  position: fixed;
  top: 40%;
  right: 10%;
  flex-direction: column;
  justify-content: left;
  width: 200px;
  height: auto;
  padding: 1rem;
  border: solid lightgrey;
  border-radius: 15px;
  background-color: white;
  transition: 0.5s;
}

.sidebar-item {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.sidebar-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
